#encoding utf-8

[Unit]
Description=Reflect changes in the IP assigned by ISP in the strato DDNS service

[Service]
Type=simple
ExecStart=/usr/local/bin/strato-ddns-updater -loop -debug $hostname $username $password
# the service is very likely to fail, e.g. when a timeout or "temporary failure in name resolution" occurs
Restart=on-failure
RestartSec=1s
User=$strato_ddns_updater_user
Group=$strato_ddns_updater_group
